body {
	overflow:hidden;
	background: #d7d7d7;
	margin:10px;
	padding:0;
}
#app {
	width: 320px;
	height: 460px;
	background:#000;
}
td {
    padding: 5px;
    text-align: left;
}
th {
	padding: 5px;
    text-align: left;
}
button {
	height: 50px;
	width: 50px;
}
textarea{
  width: 100%;
  height: 10%;
  overflow-y: auto;
}
